<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1> All Cats!</h1>

    <ul>
        <% catsArray.forEach((each)=>{ %>

            <li><%= each %></5></li>
         <% })%>   
    </ul>
    
</body>
</html>