<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <h1>Home Page <%= 4+5+9 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In iusto quisquam, eveniet rem saepe temporibus cupiditate praesentium aspernatur magnam, culpa incidunt ipsum porro quia, inventore facere nam dolore minus alias.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, blanditiis? Ex assumenda velit quam sequi! Aliquam earum cum hic dolor soluta rerum ipsam molestiae, deleniti deserunt! Quae numquam voluptas eveniet.</p>
</body>
</html>