<%- include('partials/head')  %>
<body>
    <%- include('partials/navbar') %>
    <h1> Here is your random number: <%= random %> </h1>
    <% if(random % 2 === 0){ %>
    <h2>That's an even number</h2>
    <% } else { %>
        <h2>That seems to be an odd number...</h2>
        <% } %>
</body>
</html>